# Crypto Portfolio Optimization

Goal: Create a machine learning-driven portfolio optimization system for cryptocurrencies, dynamically adjusting allocations to maximize returns and minimize risks based on predictive analytics.

### Top crypto cryptocurrencies

In [1]:
import requests
import pandas as pd

In [2]:
dow_30 = [
    "AAPL", "AMGN", "AXP", "BA", "CAT", "CRM", "CSCO", "CVX", 
    "DIS", "DOW", "GS", "HD", "HON", "IBM", "INTC", "JNJ", 
    "JPM", "MCD", "MMM", "MRK", "MSFT", "NKE", "PG", "TRV", 
    "UNH", "V", "VZ", "WBA", "WMT", "XOM"
]

##### yfinance (historical data)

In [3]:
import yfinance as yf


# Specify the symbols for the cryptocurrencies you are interested in
symbols = [f"{coin}" for coin in dow_30]  


df = pd.DataFrame()

# Specify the date range
start_date = '2014-09-1'
end_date = '2024-05-17'

# Fetch the historical data for each symbol
for symbol in symbols:
    print(f"Fetching data for {symbol}...")
    data = yf.download(symbol, start=start_date, end=end_date)
    if not data.empty:
        data['Symbol'] = symbol.replace('-USD', '')  
        df = pd.concat([df, data], axis=0)


df.reset_index(inplace=True)

Fetching data for AAPL...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for AMGN...
Fetching data for AXP...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for BA...

[*********************100%%**********************]  1 of 1 completed

Fetching data for CAT...

[*********************100%%**********************]  1 of 1 completed

Fetching data for CRM...
Fetching data for CSCO...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for CVX...

[*********************100%%**********************]  1 of 1 completed

Fetching data for DIS...
Fetching data for DOW...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for GS...
Fetching data for HD...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for HON...
Fetching data for IBM...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for INTC...
Fetching data for JNJ...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for JPM...
Fetching data for MCD...

[*********************100%%**********************]  1 of 1 completed

Fetching data for MMM...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for MRK...

[*********************100%%**********************]  1 of 1 completed

Fetching data for MSFT...
Fetching data for NKE...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for PG...
Fetching data for TRV...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for UNH...
Fetching data for V...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for VZ...
Fetching data for WBA...

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Fetching data for WMT...
Fetching data for XOM...

[*********************100%%**********************]  1 of 1 completed

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72176 entries, 0 to 72175
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       72176 non-null  datetime64[ns]
 1   Open       72176 non-null  float64
 2   High       72176 non-null  float64
 3   Low        72176 non-null  float64
 4   Close      72176 non-null  float64
 5   Adj Close  72176 non-null  float64
 6   Volume     72176 non-null  int64
 7   Symbol     72176 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 4.4+ MB

In [6]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol
0,2014-09-02,25.764999,25.934999,25.680000,25.825001,22.956747,214256000,AAPL
1,2014-09-03,25.775000,25.799999,24.645000,24.735001,21.987814,501684000,AAPL
2,2014-09-04,24.712500,25.022499,24.447500,24.530001,21.805574,342872000,AAPL
3,2014-09-05,24.700001,24.847500,24.577499,24.742500,21.994473,233828000,AAPL
4,2014-09-08,24.825001,24.827499,24.512501,24.590000,21.858915,185426800,AAPL
...,...,...,...,...,...,...,...,...
72171,2024-05-10,118.540001,118.660004,117.580002,117.959999,117.009598,13648100,XOM
72172,2024-05-13,118.419998,119.040001,117.120003,117.910004,116.960007,15060600,XOM
72173,2024-05-14,116.790001,117.739998,116.480003,117.669998,117.669998,15079100,XOM
72174,2024-05-15,117.610001,118.839996,116.080002,118.580002,118.580002,18244300,XOM
72175,2024-05-16,118.540001,119.300003,117.540001,117.870003,117.870003,15745200,XOM

In [7]:
df["Date"] = pd.to_datetime(df["Date"])
df = df.rename(columns={'Volume': 'Volume($)'})

In [8]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume($)    0
Symbol       0
dtype: int64

In [9]:
df['Date'] = pd.to_datetime(df['Date'])

# Calculate daily returns for each cryptocurrency
df['Daily Return'] = df.groupby('Symbol')['Close'].pct_change()

In [10]:
df.isnull().sum()

Date             0
Open             0
High             0
Low              0
Close            0
Adj Close        0
Volume($)        0
Symbol           0
Daily Return    30
dtype: int64

In [11]:
df_filtered_date = df[df['Date'] == '2024-01-01']

df_sorted_by_close = df_filtered_date.sort_values(by='Close', ascending=False)

df_sorted_by_close[['Symbol', 'Close']]

Empty DataFrame
Columns: [Symbol, Close]
Index: []

In [13]:
df['Symbol'].unique()

array(['AAPL', 'AMGN', 'AXP', 'BA', 'CAT', 'CRM', 'CSCO', 'CVX', 'DIS',
       'DOW', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'JPM', 'MCD',
       'MMM', 'MRK', 'MSFT', 'NKE', 'PG', 'TRV', 'UNH', 'V', 'VZ', 'WBA',
       'WMT', 'XOM'], dtype=object)

In [14]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume($),Symbol,Daily Return
0,2014-09-02,25.764999,25.934999,25.680000,25.825001,22.956747,214256000,AAPL,NaN
1,2014-09-03,25.775000,25.799999,24.645000,24.735001,21.987814,501684000,AAPL,-0.042207
2,2014-09-04,24.712500,25.022499,24.447500,24.530001,21.805574,342872000,AAPL,-0.008288
3,2014-09-05,24.700001,24.847500,24.577499,24.742500,21.994473,233828000,AAPL,0.008663
4,2014-09-08,24.825001,24.827499,24.512501,24.590000,21.858915,185426800,AAPL,-0.006163

In [15]:
df.to_csv('data/dow_30.csv', index=False)

In [16]:
import session_info
session_info.show()